---
sidebar_position: 5
---

# Верифікація

If you have problems accessing your account, you can restore access:
